@font-face{
    font-family: "university";
    src: url(font/University.otf);
}
body {
    position: relative;
    background: linear-gradient(#656161, #090808);
}

.ground_humidity h2{
    font-family: university;
    font-size: 20px;
    text-decoration: underline;
}
.temperature h2{
    font-family: university;
    font-size: 20px;
    text-decoration: underline;
}
.atmosphere_humidity h2{
    font-family: university;
    font-size: 20px;
    text-decoration: underline;
}
nav {
    width: 100%;
    position: sticky;
    background: linear-gradient();
    min-height: 15vh;
    max-height: 20vh;
    box-shadow: 20px;
    padding-right: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

nav .container-fluid .navbar-brand {
    font-family:monospace;
    font-size: 30px;
    color: white;
    padding-left: 500px;
}
.data {
    margin-right: 60px;
    padding-top: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    
}

p {
    color: white;
    text-align: center;
}

